body {
    background-color: #f0f0f0;
    text-align: center;
    height: auto;
    margin: 0;
}

.container {
    padding: 0;
    background-color: white;
    width: 80%;
    margin: 3rem auto;
    height: auto;
    border: solid 1px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.753);
}

.logo {
    width: 130px;
    margin: 1rem;
    float: right;
}

.titulo {
    color: red;
    line-height: 3.5rem;
}

.preto {
    color: black;
}

.underline {
    width: 100%;
    height: 3px;
    background-color: red;
    margin: 4rem 0 1rem 0;
}

.Imagem2 {
    max-height: 28rem;

    float: left;
}

.confere {
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.Gestor {
    font-weight: bolder;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.Ministrado {
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

b {
    font-weight: bolder;
}

.online {
    margin-top: 4rem;
    font-weight: bolder;
    font-size: 1.1rem;
}

.certificado {
    font-size: 11px;
    float: right;
    margin-top: 4rem;
    font-weight: bolder;
}

.fps {
    font-size: 13px;
    width: 24%;
    float: right;
    font-weight: bold;
}


.confetti {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #e74c3c;
    border-radius: 50%;
    opacity: 0;
    animation: confetti-fall linear 1s infinite;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}
